<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>721178261539-brrnadnepo41ap50tlq2r7qpo19g13gj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.721178261539-brrnadnepo41ap50tlq2r7qpo19g13gj</string>
	<key>API_KEY</key>
	<string>AIzaSyBcp8bJuukcQufcR5nMuRtQB-Vyfad9_vQ</string>
	<key>GCM_SENDER_ID</key>
	<string>721178261539</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.webacademy.ThingsToDo</string>
	<key>PROJECT_ID</key>
	<string>thingstodo-a1896</string>
	<key>STORAGE_BUCKET</key>
	<string>thingstodo-a1896.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:721178261539:ios:ee23e247dc05c79e165996</string>
</dict>
</plist>